@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "default";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #111315;
  --color-base-200: #1A1C1F;
  --color-base-300: #2A2D31;
  --color-base-content: #D2D5D9;
  --color-primary: #111315;
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: #1A1C1F;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #8B9199;
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: #2A2D31;
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: #2A2D31;
  --color-info-content: #D2D5D9;
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.3125rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
