@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "default";
  default: true;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: #0f1113;
  --color-base-200: #181a1d;
  --color-base-300: #24272b;
  --color-base-content: #e0e3e7;
  --color-primary: #3a82f7;
  --color-primary-content: #ffffff;
  --color-secondary: #2c2f34;
  --color-secondary-content: #e0e3e7;
  --color-accent: #8ba4ff;
  --color-accent-content: #0f1113;
  --color-neutral: #2c2f34;
  --color-neutral-content: #d9dce0;
  --color-info: #3a82f7;
  --color-info-content: #ffffff;
  --color-success: #4ade80;
  --color-success-content: #0f1113;
  --color-warning: #facc15;
  --color-warning-content: #0f1113;
  --color-error: #f87171;
  --color-error-content: #0f1113;
  --radius-selector: 1rem;
  --radius-field: 0.75rem;
  --radius-box: 0.75rem;
  --size-selector: 0.25rem;
  --size-field: 0.375rem;
  --border: 1px;
  --depth: 0.5;
  --noise: 0.015;
}